{% extends "desa_base.html" %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static %}


{% block content_main %}
    <div
      
      style=""  >
      <div class="background-white-opacity"></div>
      <div class="container mt-5">
        <section
          class="card wow fadeIn"
          style="
          opacity: 1.0  ;
            {% comment %} background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg); {% endcomment %}
          "
        >
          <!-- Content -->

          <!-- Content -->
        </section>
      </div>
    </div>
    
    <div class="container mt-5">
      <!--Section: Jumbotron-->
  
      <!--Section: Jumbotron-->
  
      <hr class="my-5" />
      <h1 class="text-center">
        <strong>Data Penduduk Desa</strong>
      </h1>
      <!--Section: Cards-->
      <section class="text-center">
        <!--Grid row-->
        {% placeholder "Card List Row Container" %}
        <div class="row mb-4 wow fadeIn" name="card_row">
          <!--Grid column-->
  
          <!--Grid column-->
          {% placeholder "Card List" %}
          
        </div>
          <!--Grid column-->
  
          <!--Grid column-->
        </div>
        <!--Grid row-->
  
  
        <!--Pagination-->
      </section>
      <!--Section: Cards-->
    </div>

{% endblock content_main %}

