{% extends "desa_base.html" %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static %}

{% block content_main %}
    <div
      class="background-image-holder"
      style="
        background-image: url('https://bungoantoi.desa.id/desa/themes/tema-silir-4.0/assets/images/header-bg.jpg');
      "
    >
      <div class="background-dark-opacity"></div>
      <div class="container mt-5">
        <section
          class="card wow fadeIn"
          style="
          opacity: 0.9;
            {% comment %} background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg); {% endcomment %}
          "
        >
          <!-- Content -->
          <div class="card-body text-white text-center py-5 px-5 my-5">
            <h1 class="mb-2">
              <strong>{% placeholder "Pesan Selamat Datang" %}</strong>
            </h1>
            <h3 class="mb-5">
              <strong>{% placeholder "Nama Desa" %}</strong>
            </h3>
            <p>
              <strong>{% placeholder "Deskripsi Awal Website" %}</strong>
            </p>
  
          </div>
          <!-- Content -->
        </section>
      </div>
    </div>
    
    <div class="container mt-5">
      <!--Section: Jumbotron-->
  
      <!--Section: Jumbotron-->
  
      <hr class="my-5" />
  
      <div class="running-text">
        <h3
          class="running-text-header"
          style="padding-top: 0.25rem; padding-bottom: 0.25rem"
        >
          <i
            class="bi bi-megaphone-fill"
            style="font-size: 1.125rem; line-height: 1.75rem"
          ></i>
          <span style="display: inline-block; margin-left: 0.25rem"
            >Sekilas Info</span
          >
        </h3>
        <!-- <marquee behavior="alternate" direction="right"
          ><b
            >SELAMAT DATANG DI WEB RESMI DESA BUNGO ANTOI KECAMATAN TABIR
            SELATAN KABUPATEN MERANGIN PROVINSI JAMBI</b
          ></marquee -->
        <marquee
          direction="right"
          behavior="alternate"
          style="margin-top: 5px"
          >
          {% placeholder "Pesan Bergerak" %}
        </marquee>
  
        <!-- <ul class="running-contehnt">
          <li class="running-content-text">
            
          </li>
        </ul> -->
      </div>
  
      <hr class="my-5" />
      <h1 class="text-center">
        <strong>Struktur Pejabat Desa</strong>
      </h1>
      <!--Section: Cards-->
      <section class="text-center">
        <!--Grid row-->
        {% placeholder "Card List Row Container" %}
        <div class="row mb-4 wow fadeIn" name="card_row">
          <!--Grid column-->
  
          <!--Grid column-->
          {% placeholder "Card List" %}
          <!--Grid column-->
  
          <!--Grid column-->
        </div>
        <!--Grid row-->
  
  
        <!--Pagination-->
      </section>
      <!--Section: Cards-->
    </div>

{% endblock content_main %}

