{% extends "desa_base.html" %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static %}


{% block content_main %}
    <div
      
      style=""  >
      <div class="background-white-opacity"></div>
      <div class="container mt-5">
        <section
          class="card wow fadeIn"
          style="
          opacity: 1.0  ;
            {% comment %} background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg); {% endcomment %}
          "
        >
          <!-- Content -->

          <!-- Content -->
        </section>
      </div>
    </div>
        
    <div class="container mt-5">
      <!--Section: Jumbotron-->
  
      <!--Section: Jumbotron-->
  
      <hr class="my-5" />
      

      <!--Section: Cards-->
      <section class="text-center">
        <h1 class="text-center">
          <strong>Peta Desa</strong>
        </h1>    
        <div style="padding-bottom:56.25%; position:relative; display:block; width: 100%">
          <iframe width="100%" height="100%"
            src="https://desa-jarakan.gis.co.id/"
            frameborder="0" allowfullscreen="" style="position:absolute; top:0; left: 0">
          </iframe>
        </div>   
        
        <!--Grid row-->
        {% placeholder "Card List Row Container" %}
        <div class="row mb-4 wow fadeIn" name="card_row">
          <!--Grid column-->
  
          <!--Grid column-->
          {% placeholder "Card List" %}
          

        </div>
          <!--Grid column-->
  
          <!--Grid column-->
        </div>
        <!--Grid row-->
  
  
        <!--Pagination-->
      </section>
      <!--Section: Cards-->
    </div>

{% endblock content_main %}

