{% extends "desa_base.html" %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static %}

{% block bottom_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
{% endblock %}

{% block content_main %}
    <div
      
      style=""  >
      <div class="background-white-opacity"></div>
      <div class="container mt-5">
        <section
          class="card wow fadeIn"
          style="
          opacity: 1.0  ;
            {% comment %} background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg); {% endcomment %}
          "
        >
          <!-- Content -->

          <!-- Content -->
        </section>
      </div>
    </div>
    
    <div class="container mt-5">
      <!--Section: Jumbotron-->
  
      <!--Section: Jumbotron-->
  

  
      <hr class="my-5" />
      <h1 class="text-center">
        <strong>Struktur Pejabat Desa</strong>
      </h1>
      <!--Section: Cards-->
      <section class="text-center">
        <!--Grid row-->
        {% placeholder "Card List Row Container" %}
        <div class="row mb-4 wow fadeIn" name="card_row">
          <!--Grid column-->
  
          <!--Grid column-->
          {% placeholder "Card List" %}
          
        </div>
          <!--Grid column-->
  
          <!--Grid column-->
        </div>
        <!--Grid row-->
  
  
        <!--Pagination-->
      </section>
      <!--Section: Cards-->
    </div>

{% endblock content_main %}

