{% extends "desa_base.html" %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static %}

  {% block content_main %}
      <div class="container mt-5">
        <!--Section: Jumbotron-->

        <!--Section: Jumbotron-->

        <hr class="my-5" />

        <div class="running-text" style="margin-top:50px;">
          <h3
            class="running-text-header"
            style="padding-top: 0.1rem; padding-bottom: 0.25rem"
          >
            <i
              class="bi bi-megaphone-fill"
              style="font-size: 1.125rem; line-height: 1rem"
            ></i>
            <span style="display: inline-block; margin-left: 0.25rem"
              >Sekilas Info</span
            >
          </h3>
          <!-- <marquee behavior="alternate" direction="right"
            ><b
              >SELAMAT DATANG DI WEB RESMI DESA BUNGO ANTOI KECAMATAN TABIR
              SELATAN KABUPATEN MERANGIN PROVINSI JAMBI</b
            ></marquee -->
          <marquee
            direction="right"
            behavior="alternate"
            style="margin-top: 5px"
            >{% placeholder "Pesan Berjalan Artikel" %}
          </marquee>

          <!-- <ul class="running-contehnt">
            <li class="running-content-text">
              
            </li>
          </ul> -->
        </div>

        <hr class="my-5" />
        <h1 class="text-center mb-4" >
          <strong class="mb-5">Informasi Umum Desa</strong>
        </h1>
        <!--Section: Cards-->
        <section class="text-center">
          <!--Grid row-->
          
          <div class="row mb-4 wow fadeIn" name="card_row">
            <!--Grid column-->
    
            <!--Grid column-->
            {% placeholder "Card List" %}
            <!--Grid column-->
    
            <!--Grid column-->
          </div>
          <!--Grid row-->
    
    
          <!--Pagination-->
        </section>
        <!--Section: Cards-->
      </div>
    {% endblock %}

