{% extends "desa_base.html" %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static %}

{% block content_main %}
    <div
    class="background-image-holder"
    style="background-image: url('https://bungoantoi.desa.id/desa/themes/tema-silir-4.0/assets/images/header-bg.jpg')"
    >
    <div class="background-dark-opacity"></div>
    <div class="container mt-5">
      <section
        class="card wow fadeIn"
        style="
          background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);
        "
      >
        <!-- Content -->
        <div class="card-body text-white text-center py-5 px-5 my-5">
          <div style="display: block;margin-left: auto;margin-right: auto;width: 50%;">
             <img src="{% static 'img/img2.jpg' %}" alt=""  />
          </div>
          <h1 class="mb-2">
            <strong>Selamat datang di Sistem Informasi Desa</strong>
          </h1>
          <h3 class="mb-5">
            <strong>Desa Jarakan</strong>
          </h3>
        </div>
        <!-- Content -->
      </section>
    </div>
    </div>
    
    <div class="container mt-5">
      <!--Section: Jumbotron-->
  
      <!--Section: Jumbotron-->
  
      <hr class="my-5" />
  
      <div class="running-text">
        <h3
          class="running-text-header"
          style="padding-top: 0.25rem; padding-bottom: 0.25rem"
        >
          <i
            class="bi bi-megaphone-fill"
            style="font-size: 1.125rem; line-height: 1.75rem"
          ></i>
          <span style="display: inline-block; margin-left: 0.25rem"
            >Sekilas Info</span
          >
        </h3>
        <!-- <marquee behavior="alternate" direction="right"
          ><b
            >SELAMAT DATANG DI WEB RESMI DESA BUNGO ANTOI KECAMATAN TABIR
            SELATAN KABUPATEN MERANGIN PROVINSI JAMBI</b
          ></marquee -->
        <marquee
          direction="right"
          behavior="alternate"
          style="margin-top: 5px"
          >
          {% placeholder "Pesan Bergerak" %}
        </marquee>
  
        <!-- <ul class="running-contehnt">
          <li class="running-content-text">
            
          </li>
        </ul> -->
      </div>
      <section>
        <div class="container mb-5">
          <br /><br />
          <div class="col-div-6">
            <div class="box-1">
              <div class="b-img">
                  
              </div>
              {% comment %} <h3 class="heading1">Travel</h3> {% endcomment %}
              <p class="blog-heading">{% placeholder "Judul sub card besar" %}</p>
              <p class="text">
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the Beautiful
                Location For Travel
              </p>
              <p class="text">
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry.
              </p>
              <span class="name">Manoj Singh . SEP 21, 2021</span>
            </div>
          </div>
          <div class="col-div-6">
            <div class="lr-box">
              <div class="col-div-6">
                <h3 class="heading1">Food</h3>
                <p class="blog-heading-1">Good Food Good Health</p>
                <p class="text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting
                </p>
                <span class="name">Manoj Singh . SEP 21, 2021</span>
              </div>
              <div class="col-div-6">
                <img src="img/images1.jpg" class="b-img-1" />
              </div>
              <div class="clearfix"></div>
              <hr class="line" />
            </div>

            <div class="lr-box">
              <div class="col-div-6">
                <h3 class="heading1">Technology</h3>
                <p class="blog-heading-1">Looking for tech blogs</p>
                <p class="text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting
                </p>
                <span class="name">Manoj Singh . SEP 21, 2021</span>
              </div>
              <div class="col-div-6">
                <img src="img/images5.jpg" class="b-img-1" />
              </div>
              <div class="clearfix"></div>
              <hr class="line" />
            </div>

            <div class="lr-box">
              <div class="col-div-6">
                <h3 class="heading1">Food</h3>
                <p class="blog-heading-1">Good Food Good Health</p>
                <p class="text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting
                </p>
                <span class="name">Manoj Singh . SEP 21, 2021</span>
              </div>
              <div class="col-div-6">
                <img src="img/img2.jpg" class="b-img-1" />
              </div>
              <div class="clearfix"></div>
              <hr class="line" />
            </div>
          </div>

          <div class="clearfix"></div>
        </div>
      </section>
      <hr class="my-5" />
      <h1 class="text-center">
        <strong>Informasi Umum Desa</strong>
      </h1>
      <!--Section: Cards-->
      <section class="text-center">
        <!--Grid row-->
        {% placeholder "Card List Row Container" %}
        <div class="row mb-4 wow fadeIn" name="card_row">
          <!--Grid column-->
  
          <!--Grid column-->
          {% placeholder "Card List" %}
          <!--Grid column-->
  
          <!--Grid column-->
        </div>
        <!--Grid row-->
  
  
        <!--Pagination-->
      </section>
      <!--Section: Cards-->
    </div>

{% endblock content_main %}

