{% extends "desa_base.html" %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static %}


{% block page_head %}
<link
rel="stylesheet"
href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
/>
<!-- Bootstrap core CSS -->
<link
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
rel="stylesheet"
/>
<link
href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
rel="stylesheet"
/>
<!-- Material Design Bootstrap -->
<link href="css/mdb.min.css" rel="stylesheet" />
<!-- Your custom styles (optional) -->
<link href="css/style.min.css" rel="stylesheet" />
<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
/>
<link
href="https://fonts.googleapis.com/css?family=Poppins"
rel="stylesheet"
/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}

{% block content_main %}

      <div class="container pt-5 mt-5">
        <div class="row align-items-start">
          <div class="col-sm-4">
            <div class="accordion-container">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button d-flex align-items-center"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >
                      <i class="bi bi-person" style="margin-right: 5px"></i>
                      <b>Statistik Penduduk</b>
                    </button>
                  </h2>
                  <div
                    id="collapseOne"
                    class="accordion-collapse collapse show"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      <a href="#data-usia">Usia</a>
                      <br/>
                      {% placeholder "Gambar statistik usia penduduk " %}

                    </div>
                    <div class="accordion-body">
                      <a href="#data-jk">Jenis kelamin</a>
                      <br/>
                      {% placeholder "Gambar statistik jenis kelamin penduduk " %}

                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                    >
                      <i
                        class="bi bi-bar-chart-fill"
                        style="margin-right: 5px"
                      ></i>
                      <b>Statistik keluarga</b>
                    </button>
                  </h2>
                  <div
                    id="collapseTwo"
                    class="accordion-collapse collapse"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      <a href="#data-kk">Jumlah KK</a>
                      {% placeholder "Gambar statistik jumlah KK penduduk " %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-8">
            <div id="data-usia" class="card table-container p-3">
              <h1 class="text-heading">Data Statistik</h1>
            </div>
            <div class="card table-container mt-2">                


              {% placeholder "tabel" %}

              

              
            </div>
            <div class="card table-container mt-2">
                {% placeholder "tabel 2" %}
            </div>
          </div>

          

        </div>
      </div>

    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
    <!-- Initializations -->
    <script type="text/javascript">
      // Animations initialization
      new WOW().init();
    </script>
  
{% endblock %}